#text-field{
    -fx-text-fill: #ffffffe5;
    -fx-prompt-text-fill: #ffffffe5;
}

#date-picker .button{
    -fx-background-color: #be4545;
    -fx-fill: #f5f5f5;
    -fx-text-fill: white;
}
#nav-bar{
    -fx-border-color: #ec5353;
    -fx-border-width: 0 0 5 0;
}

#nav-bar .button{
    -fx-background-color: #1d0c0c;
}
#nav-bar .button:hover{
    -fx-background-color: #391616;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #4e0000 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color:  linear-gradient(to right,#bf0000 0%, #110000 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

#tool-button{
    -fx-background-color: #22222a;
    -fx-text-fill: #ffffff;
    -fx-hgap: 200px;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: #ec5353;
    -fx-effect: dropshadow(three-pass-box, #ec5353, 10, 0, 0, 0);
}

#tool-button:hover{
    -fx-background-color: #2a2a35;
}